PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=restow.frandha@gmail.com
SMTP_PASSWORD=koez dajp ocfo zurk
CONTACT_EMAIL=restow.frandha@gmail.com

LOG_LEVEL=debug
